.camera-card {
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: auto;
}

.camera-title {
    margin: 0;
    font-size: 20px;
    color:  #b8860b;
    font-weight: bold;
}

.camera-video {
    width: 100%;
    border-radius: 10px;
    background: #000;
    aspect-ratio: 3 / 4;
}

.camera-canvas {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.camera-btn {
    width: 100%;
    padding: 10px;
    background: #0070f3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.camera-btn:hover {
    background: #0059c9;
}

.camera-preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camera-delete {
    padding: 8px 12px;
    background: #e63946;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.camera-delete:hover {
    background: #b61f2c;
}

