.qr-card {
    width: 360px;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: auto;
}

.qr-title {
    margin: 0;
    font-size: 22px;
    color:  #b8860b;
    font-weight: bold;
    text-align: center;
}

.qr-reader {
    width: 100%;
    height: 260px;
    background: #000;
    border-radius: 10px;
}

.qr-subtitle {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.qr-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 14px;
    font-weight: 600;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;
    background: #f6f6f6;
    font-size: 15px;
}

textarea {
    height: 70px;
    resize: none;
}
